.navbar {
  height: 80px;
  padding: 10px;
  background-color: rgb(247, 247, 247);
  color: #0070f3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ddd;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar ul li a {
  margin: 10px 20px;
}
.navbar ul li a:hover {
  color: #000;
}
